<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link href="/icon.png" rel="icon">
    <link href="/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="login-container">
        <h1>Login</h1>
        <% if (error) { %>
            <div class="error"><%= error %></div>
        <% } %>
        <form action="/login" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username" autofocus>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password">
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="back">
            <a href="/">Back to Main Page</a>
        </div>
    </div>
</body>

</html>